:root {
    --primary-color: #0f7173;
    --secondary-color: #7fb069;
    --background-light: #e7ecef;
    --background-dark: #272932;
}

* {
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
    background-color: var(--background-light);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.search-button {
    background-color: transparent;
    border: none;
    border-width: 0px;
    padding: 3px 8px;
}

.search-input {
    border: none;
    flex: 1;
    height: 30px;
    background-color: transparent;
    margin-left: 20px;
}

.search-input:focus {
    outline: none;
}

.search-bar {
    border: 2px solid lightgray;
    background-color: white;
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    max-width: 40%;
    min-width: 30%;
    padding: 5px;
    justify-self: center;
}

.search-bar:focus-within {
    background-color: whitesmoke;
    border-color: var(--secondary-color);
}

main {
    margin: 0;
    min-height: 100%;
    justify-content: space-around;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    flex: 1;
}

nav {
    display: flex;
    align-items: center;
    padding:10px;
    background-color: var(--primary-color);
    justify-content: space-around;
    box-shadow: 10px 5px var(--secondary-color);
}

.logo-div {
    display: flex;
    align-items: center;
}

.logo-div h1 {
    color: white;
    font-weight: 600;
    display: inline;
    margin-left: 10px;
}

.logo-div img {
    min-height: 50px;
    filter: brightness(1.5);
}

.location-display {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
}

.weather-display {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex: 1;
    align-items: center;
    align-self: center;
    gap: 50px;
    border-radius: 50px;
}

.today-weather {
    background-color: var(--secondary-color);
    color: var(--background-light);
    padding: 6em 3em 4em 3em;
    box-shadow: 10px 10px var(--primary-color);
    border-radius: 10px;
}

.weekly-weather {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    
}
.weekly-weather > div{
    height: 150px;
    width: 500px;
    background-color: var(--secondary-color);

}

.current-weather {
    margin-top: 10px;
}

.current-weather > *{
    margin-bottom: 10px;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
}

.current-weather img {
    width: 100px;
    margin: 25px 0;
}

.current-weather > h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.weather-icon {
    filter: invert();
}

.hourly-weather {
    width: 500px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 20px;

    margin-top: 3em;
    padding-bottom: 2rem;

    scrollbar-color: var(--background-light) var(--secondary-color)
}

.hour-weather {
    display: flex;
    flex-flow: column;
    min-width: 70px;
    align-items: center;
    gap: 5px;
}

.hour-weather > h2 {
    font-size: 1.3rem;
}

.hour-weather > img {
    max-height: 50px;
    max-width: 50px;
    filter: invert();    
}


.day-weather {
    color: var(--background-light);
    display: flex;
    box-shadow: 5px 5px var(--primary-color);
    border-radius: 8px;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.day-summary > img {
    filter: invert();
}


.day-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}